%h1 Listing quests

%table
  %tr
    %th
    %th
    %th

  - @quests.each do |quest|
    %tr
      %td= link_to 'Show', quest
      %td= link_to 'Edit', edit_quest_path(quest)
      %td= link_to 'Destroy', quest, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Quest', new_quest_path
