%p#notice= notice

%h2="Quests Written by #{current_user.fname}"
-@user.quests.each do |quest|
  %p=link_to quest.title, quest_path(quest)

%h2 Quests being Undertaken
-@user.quest_instances.each do |quest|
  %p=quest.quest.title

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
