@import "bootstrap";
@import "bootstrap-responsive";


.header {
  height:80px;
  padding:20px 0 0 17%;
  }

.central_container {
  margin-top:20px;
}

.internal p {
  float:left;
}

.internal {
}

h4.subhead {
  margin:5px 0 5px 0;
}

#flash_notice {
  background: red;
  padding: 5px;
  text-align: center;
  margin: 10px;
} 
