@import "bootstrap";
@import "bootstrap-responsive";


.header {
  height:80px;
  padding:20px 0 0 17%;
  }

.prow p {
  float:left;
  clear:both;
}

.quest_owner p { 
  float:left;
  clear:none;
}


#flash_notice {
  background: red;
  padding: 5px;
  text-align: center;
  margin: 10px;
} 
